/* You can add global styles to this file, and also import other style files */
@import './styles/colors';
@import './styles/typography';

.error-popup {
  position: relative;
  background-color: rgb(245, 47, 47);
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  top:-60px;
  left: 300px;
  max-width: 200px;
  visibility: hidden;
}

input {
  border: 1px solid $color-secondary;
  padding: 5px;
  transition: border 0.3s, box-shadow 0.3s;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  font-size: 14px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.outline-button {
  background-color: transparent;
  color: #3498db;
  padding: 10px 20px;
  border: 2px solid #3498db;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
  background-color: #3498db;
  color: #fff;
  }

  &:disabled {
    background-color: #ccc;
    color: #999;
    border-color: #ccc;
    cursor: not-allowed;
  }
}

body {
  color:$color-primary;
  background-color: $bg-primary ;
}
